.banner {
  color: white;
  background-size: cover;
  padding: 180px 0;
  margin-bottom: 50px;
  /*  */
}

.banner h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  text-shadow: 2pc 2px 3px rgba(0, 0, 0, 0.3);
}

.banner p {
  color: rgb(180, 180, 180);
  font-size: 18px;
  text-shadow: 2pc 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

/* .banner  {
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 2pc 2px 3px rgba(0, 0, 0, 0.3);
} */
