.btn-select {
  background-color: rgb(89, 235, 136);
  color: white;
  padding: 16px 32px;
  border-radius: 50px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.btn-select:hover {
  background-color: rgb(113, 255, 158);
}

/* .btn-search {
  text-decoration: none;
  background-color: transparent;
  color: rgb(15, 21, 207);
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid rgb(15, 21, 207);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.btn-search:hover {
  color: rgb(13, 18, 164);
  border: 1px solid rgb(13, 18, 164);
  font-weight: bold;
} */
